<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>文章页面编写</title>
	<link rel="stylesheet"  href="/static/css/bootstrap.min.css " />
</head>
<body>
<div class="container">
	<div class="row">
  	  <div class="col-xs-12 col-md-12">
  	  	<div class="jumbotron">
  	  	<center><h1>python 部落论坛</h1></center>
  	  	</div>
  	  </div>
  	</div>
  	<ol class="breadcrumb">
          	<li><a href="/">首页</a></li>
          	<li class="active"> {{ b.name }}</li>
          </ol>
          <a href="/article/create/{{ b.id }}"  class="btn btn-primary">发表文章</a><br /><br />
	
	  <table class="table table-bordered">
        <thead>
            <tr>
                <th>标题</th>
                <th>内容</th>
                <th>创建时间</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="/article/articledetail/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.create_timestamp|date:'Y-m-d P' }}</td>
                    <td>{{ article.last_update_timestamp|date:'Y-m-d P' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <center>
    <nav aria-label = "Page navigation">
     <ul class="pagination">
           {% if not  pagination_data.has_previous %}
           <li><a href="?page_no=1">首页</a></li>
    	<li>
    		<a href="?page_no={{ pagination_data.previous_link }}" aria-label="Previous"><span >&laquo;</span></a>
    	</li>
    	{% endif %}

    	{%  for no in pagination_data.page_links %}
    	 {% ifequal no pagination_data.current_no %}
    	<li class="active"><a href="?page_no={{ no }}">{{ no }}</a></li>
    	 {% else %}
    	  <li><a href="?page_no={{ no }}">{{ no }}</a></li>
    	 {%  endifequal %}
    	{%  endfor %}

    	{% if not pagination_data.has_next %}
    	<li>
    		<a href="?page_no={{ pagination_data.next_links }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    	</li>
    	<li><a aria-hidden = "true" href="?page_no={{ pagination_data.page_cnt }}">尾页</a></li>
    	{%  endif %}
    	</ul>
    </nav>
    </center>
</div>
</body>
</html>