<!DOCTYPE html>
<html>
	<head>
 <meta charset="utf-8">

	<title>论坛首页</title>
	<link rel="stylesheet"  href="/static/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
  	<div class="row">
  	  <div class="col-xs-12 col-md-12">
  	  	<div class="jumbotron">
  	  	<center><h1> Python 部落论坛</h1></center>
  	  	</div>
  	  </div>
  	</div>
            <div class="row">
            	<div class="col-xs-12 col-md-12">
              {% for b in blocks  %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                     <a href="/article/list/{{ b.id }}?page_no=1" style="font-size: 16px;">{{ b.name }}</a>
                     <span class="pull-right">{{ b.manager_name }}</span>
              </div>
            <div class="panel-body">
                {{ b.desc }}
              </div>
              </div>
              {% endfor %}
              
            	</div>
            	
            </div>
            <div class="well">
            {% if user.is_authenticated %}
            <p>{{ user.username }}，欢迎来到论坛.</p>
            <a href="/accounts/logout">登出</a>
            {% else %}
            <p>匿名用户，请<a href="/accounts/login">登录</a>.</p>
            {% endif %}
            </div>
</div>
</body>
</html>